<div class="card ">
    <div class="card-header">
      <h3> Mot de passe oublié </h3>
    </div>
    <div class="card-body">
       Vous avez oublié votre mot de passe ? Vous receverez un mail de recuperation du compte dans quelques instants . <br>

        Veuillez saisir votre adresse email pour recupérer votre compte :
  
  
  <form (ngSubmit)="onSubmit()" [formGroup]="mdpForm">
  
    <div class="form-outline mt-5">
      <div class="row">
        <div class="col-1"><i class="fa-solid fa-envelope prefix grey-text fa-2x"></i></div>
        <div class="col form-group ">
          <input type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && mdpF['email'].errors }" placeholder="email@gmail.com" />
          <div *ngIf="submitted && mdpF['email'].errors" class="invalid-feedback">
            <div *ngIf="mdpF['email'].errors?.['required']">Veuillez remplir ce champs</div>
            <div *ngIf="mdpF['email'].errors?.['email']">Veuillez saisir une adresse mail valide</div>
  
  
          </div>
        </div>
  
      </div>
    </div>
  

    <!-- Submit button -->
    <button type="submit" class="btn btn-info text-white mt-4">
      <h5>envoyer</h5>
    </button>
  </form>
  </div>
  </div>