<div class="container mt-4">
    <h2> Liste des niveaux </h2>
    <hr>


    <div class="row">
        <div class="col ">
            <form class="form-inline my-2 my-lg-0">
                <div class="row">

                    <div class="col-md-1">
                        <div class="btn btn-light" style="height:45px;"><i class="fas fa-search fa-1x"></i></div>
                    </div>
                    <div class="col"><input type="search" style="height:45px;"
                            (ngModelChange)="chercherNiveaux(key.value)" #key="ngModel" ngModel name="key" id="search"
                            class="form-control mr-sm-2" placeholder="Chercher Niveau..." required></div>
                </div>
            </form>
        </div>
        <div class="col"></div>
        <div class="col-md-3"> <button class="btn btn-outline-secondary btn-lg mb-5" (click)="addNiveau()"><i
                    class="fa fa-plus"></i>
                Ajouter Niveau</button></div>
    </div>
    <div class="mt-4">

        <table class="table table-hover" id="datatableexample">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"> Nom </th>
                   
                    <th scope="col"> Parcours </th>

                    <th scope="col" style="width: 5cm;"> Activé </th>

                    <th scope="col"> Actions </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let niveau of niveaux">
                    <td scope="row">{{niveau.id_niv}}</td>
                    <td>{{niveau.nom_niv}}</td>
                  
                    <td>{{niveau.idParcours?.nom_par}}</td>

                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" [checked]="niveau.etat_niv==true" type="checkbox"
                                id="flexSwitchCheckChecked{{niveau.id_niv}}" (click)="checkEtat(niveau)">


                        </div>



                    </td>


                    <td>
                        <div class="row">
                            <a class="col-md-4 btn btn-outline-success tooltips btn-sm " (click)="editNiveau(niveau)"
                                data-toggle="tooltip" data-original-title="Edit"><i class="fas fa-pencil fa-1x"></i>
                            </a>
                            <!--
                            <a class=" col btn btn-outline-danger tooltips btn-sm" (click)="deletedNiveau(niveau)"
                                data-toggle="tooltip" data-original-title="Delete"><i
                                    class="fas fa-times fa-1x"></i></a>-->
                        </div>
                    </td>



                </tr>



            </tbody>
        </table>
    </div>

    <!--  Ajouter Niveau -->
    <div class="modal fade" id="addNiveau">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title align-center">Ajouter Niveau </h4>
                    <button type="button" class="close" data-dismiss="modal"
                        (click)="onDismiss('addNiveau')">&times;</button>
                </div>

                <div class="container">
                    <form (ngSubmit)="onAddNiveau()" [formGroup]="addForm">
                      
                         
                                <div class="form-group mt-4">
                                    <label for="idParcours">Parcours : </label>

                                    <select class="form-select form-select-m mb-3 form-control"
                                        formControlName="idParcours"
                                        [ngClass]="{'is-invalid':submitted && addF['idParcours'].errors }">
                                        <option [ngValue]="null" disabled>Choisir un parcours...</option>
                                        <option *ngFor="let p of parcours" [ngValue]="p" [disabled]="p.etat_par==false">
                                            {{p.nom_par}} </option>

                                    </select>
                                    <div *ngIf="submitted && addF['idParcours'].errors" class="invalid-feedback">
                                        <div *ngIf="addF['idParcours'].errors?.['required']">Ce champs est obligatoire
                                        </div>


                                    </div>


                                </div>
                           
                       



                        <div class="form-group mt-4">

                            <label for="nom_niv">Nom Niveau : </label>
                            <input type="text" formControlName="nom_niv" class="form-control"
                                [ngClass]="{'is-invalid':submitted && addF['nom_niv'].errors }">
                            <div *ngIf="submitted && addF['nom_niv'].errors" class="invalid-feedback">
                                <div *ngIf="addF['nom_niv'].errors?.['required']">Ce champs est obligatoire</div>


                            </div>

                        </div>
                   

                    

                        <div class="form-group mt-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="etat_niv">Etat : </label>
                                </div>


                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input form-control ml-5" type="radio"
                                            name="inlineRadioOptions" id="etat_nivActive" value="option1" checked>
                                        <label class="form-check-label" for="inlineRadio1">Activé</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input form-control ml-5" type="radio"
                                            name="inlineRadioOptions" id="etat_nivDesactive" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Désactivé</label>
                                    </div>
                                </div>
                            </div>
                        </div>






                        <div class="modal-footer mt-5">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                (click)="onDismiss('addNiveau')">Annuler</button>

                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  edit Niveau -->
    <div class="modal fade" id="editNiveau">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title align-center">Modifier Niveau </h4>
                    <button type="button" class="close" data-dismiss="modal"
                        (click)="onDismiss('editNiveau')">&times;</button>
                </div>

                <div class="container">
                    <form [formGroup]="editForm">
                        
                           
                                <div class="form-group mt-4">
                                    <label for="idParcours">Parcours : </label>

                                    <select  class="form-select form-select-m mb-3 form-control"
                                         formControlName="idParcours" 
                                        [ngClass]="{'is-invalid':submitted && editF['idParcours'].errors }">
                                        <option [ngValue]="null" disabled>Choisir un parcours...</option>
                                        <option *ngFor="let p of parcours" [ngValue]="p.id_par" [disabled]="p.etat_par==false">
                                            {{p.nom_par}} </option>

                                    </select>
                                    <div *ngIf="submitted && editF['idParcours'].errors" class="invalid-feedback">
                                        <div *ngIf="editF['idParcours'].errors?.['required']">Ce champs est obligatoire
                                        </div>


                                    </div>


                                </div>
                           
                         
                        


                        <div class="form-group mt-4">

                            <label for="nom_niv">Nom Niveau : </label>
                            <input type="text" formControlName="nom_niv" class="form-control"
                                [ngClass]="{'is-invalid':submitted && editF['nom_niv'].errors }">
                            <div *ngIf="submitted && editF['nom_niv'].errors" class="invalid-feedback">
                                <div *ngIf="editF['nom_niv'].errors?.['required']">Ce champs est obligatoire</div>


                            </div>

                        </div>
                   



                        <div class="form-group mt-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="etat_niv">Etat : </label>
                                </div>


                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input form-control ml-5" type="radio"
                                            name="inlineRadioOptions" id="etat_nivActiveEdit" value="option1"
                                            [checked]="updateNiveau?.etat_niv==true">
                                        <label class="form-check-label" for="inlineRadio1">Activé</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input form-control ml-5" type="radio"
                                            name="inlineRadioOptions" id="etat_nivDesactiveEdit" value="option2"
                                            [checked]="updateNiveau?.etat_niv==false">
                                        <label class="form-check-label" for="inlineRadio2">Désactivé</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal-footer mt-5">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                (click)="onDismiss('editNiveau')">Annuler</button>

                            <button (click)="onEditNiveau()" class="btn btn-primary">Modifier</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--  Supprimer Niveau -->
    <div class="modal fade" id="deleteNiveau" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Supprimer Niveau</h5>
                    <button type="button" (click)="onDismiss('deleteNiveau')" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Etes vous sure de vouloir supprimer le niveau <b> {{deleteNiveau?.nom_niv}} </b> ?</p>
                    <div class="modal-footer">
                        <button type="button" (click)="onDismiss('deleteNiveau')" class="btn btn-secondary"
                            data-dismiss="modal">Annuler</button>
                        <button (click)="onDeleteNiveau(deleteNiveau?.id_niv)" class="btn btn-danger"
                            data-dismiss="modal">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

