button
{  
  padding: 12px 38px;
  font-size: 16px;
  text-align: center;

  cursor: pointer;
  transition: all 0.3s ease;
  
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-color: #4CAF50;
  border-radius: 24px;}
  
button:hover {
    background-color: #f30a7b;
    border-color: #f30a7b;
  }
  button:active {
    background-color: #f30a7b;
    border-color: #f2acba ;
  }
  button:focus{
    background-color:#f30a7b;
    
    border-color: #f2acba ;
    box-shadow: 0 0 0 5px #f2acba;
  }